@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(255, 255, 255);

}


p{
    margin: 15px;
}
header{
    background-color: black;
    padding-bottom: 0,2vh;
    margin: auto;
}
header> h1{

    padding: 5%;
    color: white;
    font-weight: bolder;
    text-align: center;
    min-height: 22px;
    font-family:'Courier New', Courier, monospace ;
}

header> p{
    padding-bottom: 20px;
    color: rgb(150, 131, 131);
    text-align: center;
    height:  22px;
    font-family:'Courier New', Courier, monospace ;

}
   
    

p> a{
    text-decoration: none;
    color: white;
    height: 15px;
    font-family: 'Courier New', Courier, monospace;

}

main{
    padding: 10px;
    background-color: white;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
    
}

main>p{
    text-align: left, justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    padding: 20px 35px;
    
}
#box{
    border-radius: 10px;
    position: relative;

    background-image: url(imagens/flor-e-livro-37439725.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;


    height: 500px;
    width: 600px;
    margin: left;
}
 #box2{
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    color: white;
    margin: auto;


    background-color: rgba(15, 1, 1, 0.445);
    background-position: center;


    
    left: 10px;
    top: 20px;

    transform: translate(30%, 10%);
    

}
#box2>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
#box3{
    border-radius: 10px;
    position: relative;

    background-image: url(imagens/flor.webp);
    background-repeat: no-repeat;
    background-position:  center center;
    background-size: cover;
    background-attachment: scroll;


    height: 500px;
    max-width: 600px;
    margin: left;
}
 #box4{
    position: absolute;
    height: 250px;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    color: white;

    background-color:  rgba(15, 1, 1, 0.445);;
    background-position: center center;


    
    left: 0px;
    top: 10px;

    transform: translate(30%, 10%);

}
#box4>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
