@charset "UTF-8"


  <style>
     body{
       background-color: peachpuff;
      font-family: 'Times New Roman', Times, serif;
         }

     head{
      margin: 10px;
      background-color: blanchedalmond; }
   </style>